html,
        body {
            overflow: hidden;
            margin: 0;
            width: 100%;
            height: 100%;
        }

        canvas {
          display: block;
          width: 100%;
          height: 100vh;
        }

        #loading-screen {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #000000;
            opacity: 1;
            transition: 1s opacity;
        }

        #loading-screen.fade-out {
            opacity: 0;
        }

        /* Loading Spiral rotate */
        /* #loader {
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #9370DB;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        #loader:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #BA55D3;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
        }

        #loader:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #FF00FF;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            } 
        }*/

        /* Loading Cubes */
        /* @keyframes ldio-1j1i9fqdcx6 {
            0% {
              background: #a49838
            }
        
            12.5% {
              background: #a49838
            }
        
            12.625% {
              background: #79681e
            }
        
            100% {
              background: #79681e
            }
          }
        
          .ldio-1j1i9fqdcx6 div {
            position: absolute;
            width: 40px;
            height: 40px;
            background: #79681e;
            animation: ldio-1j1i9fqdcx6 1s linear infinite;
          }
        
          .loadingio-spinner-blocks-5nfdodrvvq {
            width: 200px;
            height: 200px;
            display: inline-block;
            overflow: hidden;
            background: #000000;
          }
        
          .ldio-1j1i9fqdcx6 {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateZ(0) scale(1);
            backface-visibility: hidden;
            transform-origin: 0 0; 
          }
        
          .ldio-1j1i9fqdcx6 div {
            box-sizing: content-box;
          } */

          /*Loading circles*/
          @keyframes ldio-n2gxddku3y {
            0% {
              top: 96px;
              left: 96px;
              width: 0;
              height: 0;
              opacity: 1;
            }
        
            100% {
              top: 18px;
              left: 18px;
              width: 156px;
              height: 156px;
              opacity: 0;
            }
          }
        
          .ldio-n2gxddku3y div {
            position: absolute;
            border-width: 4px;
            border-style: solid;
            opacity: 1;
            border-radius: 50%;
            animation: ldio-n2gxddku3y 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          }
        
          .ldio-n2gxddku3y div:nth-child(1) {
            border-color: #d5cfb6;
            animation-delay: 0s;
          }
        
          .ldio-n2gxddku3y div:nth-child(2) {
            border-color: #9d9974;
            animation-delay: -0.5s;
          }
        
          .loadingio-spinner-ripple-yxbf9bjbn4e {
            width: 200px;
            height: 200px;
            display: inline-block;
            overflow: hidden;
            background: #000000;
          }
        
          .ldio-n2gxddku3y {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateZ(0) scale(1);
            backface-visibility: hidden;
            transform-origin: 0 0;
          }
        
          .ldio-n2gxddku3y div {
            box-sizing: content-box;
          }

          #blocker {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
          }
    
          #instructions {
            color: azure;
            width: 100%;
            height: 100%;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            text-align: center;
            font-size: 14px;
            cursor: pointer;
          }